/* Styles used across the dashboard app */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*
{
    box-sizing: border-box;
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background-color: #fff;
}

/* HTML5 fallback styles for older browsers */
main, section, header, footer, nav, figure, figcaption
{
    display: block;
}
/* ---------------------------------------- */

header
{
    padding: 0.5em;
}

.themeDarkBlueBIU
{
    background-color: #00445e;
    color: #fff;
}

.themeLightBlueBIU
{
    background-color: #0bc2d2;
    color: #fff;
}

#logoBIU
{
    height: 45px;
    padding-bottom: 5px;
    margin-right: 1em;
}

#appTitle
{
    display: inline-block;
    font-size: 2em;
    color: #fff;
}
