/* Styles used across the dashboard app --------- */

*
{
    box-sizing: border-box;
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background-color: #fff;
}

/* HTML5 fallback styles for older browsers */
main, section, header, footer, nav, figure, figcaption
{
    display: block;
}

header
{
    padding: 0.3em 0.6em;
}

main
{
    padding-bottom: 2.25em;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7e6e1;
    font-size: 0.8em;
}

footer div
{
    margin: 0.25em 1em;
}

footer a
{
    color: #00445e;
    font-weight: bold;
}

h1
{
    display: inline-block;
    font-size: 2em;
    color: #fff;
    margin: 0.025em 0 0 0;
    padding: 0;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.5em;
}

a
{
    color: #046dc3;
}

img
{
    border: 0;
}

.themeDarkBlueBIU
{
    background-color: #00445e;
    color: #fff;
}

.themeLightBlueBIU
{
    background-color: #0bc2d2;
    color: #fff;
}

#logoBIU
{
    height: 3.25em;
    margin: 0.3em 1em 0.3em 0;
}


/* Styles just for the introduction tab --------- */
button.homeMenuButton
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    padding: 0.75em;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 2.5em;
    border-top-left-radius: 2.5em;
}

button.homeMenuButton img
{
    width: 3em;
    margin-right: 1em;
    float: left;
}

button.homeMenuButton p
{
    overflow: hidden;
    line-height: 1.25em;
    margin-top: 0.25em;
}

#health_btn
{
    background-color: #e51f4a;
    color: #fff;
}

#health_btn:hover
{
    box-shadow: 0 0 9px #e51f4a;
}

#poverty_btn
{
    background-color: #70c3d3;
}

#poverty_btn:hover
{
    box-shadow: 0 0 9px #70c3d3;
}

#climate_btn
{
    background-color: #91caa2;
}

#climate_btn:hover
{
    box-shadow: 0 0 9px #91caa2;
}

#services_btn
{
    background-color: #fecb00;
}

#services_btn:hover
{
    box-shadow: 0 0 9px #fecb00;
}

/* The individual divs inside fluidRows - but only on the home tab */
#homePageContainer div.row > div
{
    padding: 0.5em;
}

#obese_reception_selection .btn {
  background-color: #a0bccb; 
  color: #000;}